<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabor & Clic</title>
</head>

<body>

<header class="cabecalho">

    <nav class="navegacao">
        <button class="botao-menu" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="index.html" class="logo">Sabor & Clic</a>

        <div class="link-navegacao">
            <a href="index.html"></a>
            <a href="cardapio.html"></a>
            <a href="carrinho.html" class="carrinho">
                <span>carrinho</span>
            </a>
            <a href="login.html">Entrar/minha conta</a>
        </div>
    </nav>
</header>

<main>
    <section class="principal">
        <div>
            <h1>A experiencia<br>
                gastronomica<br>
                que voce merece
            </h1>

            <a href="cardapio.html" class="botao">Ver cardapio</a>
        </div>
    </section>

    <div class="linha-dourada"></div>

    

</main>
    
</body>
</html>
