<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabor & Clic</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<header class="cabecalho">

    <nav class="navegacao">
        <button class="botao-menu" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <a href="index.html" class="logo">Sabor & Clic</a>

        <div class="link-navegacao">
            <a href="index.html">inicio</a>
            <a href="espacos.html">espacos</a>
            <a href="cardapio.html">cardapio</a>
            <a href="carrinho.html" class="carrinho">
                <span>carrinho</span>
            </a>
            <a href="login.html">Entrar / minha conta</a>
        </div>
    </nav>
</header>

<main>
    <section class="principal">
        <div class="principal-conteudo">
            <h1>A experiencia<br>
                gastronomica<br>
                que voce merece
            </h1>

            <a href="cardapio.html" class="botao">Ver cardapio</a>
        </div>
    </section>

    <div class="linha-dourada"></div>

    <section class="destaques">
        <h2>Destaques</h2>

        <div class="cards">
            <article class="card">

                <div class="imagem-card">
                    <img src="..." alt="Nome do espaço">
                </div>
                <div class="conteudo-card">
                    <h3>cozinha profissional</h3>
                    <p>descrição</p>
                    <span class="preco">preco</span>
                </div>
            </article>
       
            <article class="card">

                <div class="imagem-card">
                    <img src="..." alt="nome">
                </div>
                <div class="conteudo-card">
                    <h3>mais pedido</h3>
                    <p>descrição</p>
                    <span class="preco">preco</span>
                </div>
            </article>
        
            <article class="card">

                <div class="imagem-card">
                    <img src="..." alt="nome">
                </div>
                <div class="conteudo-card">
                    <h3>...</h3>
                    <p>descrição</p>
                    <span class="preco">preco</span>
                </div>
            </article>
        </div>
    </section>

    <section class="como-funciona">
        <h2>Como funciona</h2>
            <div class="passos">
                <div class="passo">
                    <span>01</span>
                    <h3>escolha</h3>
                    <p>Encontre o espaço que deseja</p>
                </div>

                <div class="passo">
                    <span>02</span>
                    <h3>peça</h3>
                    <p>adicione o item escolhido ao carrinho e finalize o pedido</p>
                </div>

                <div class="passo">
                    <span>03</span>
                    <h3>acompanhe</h3>
                    <p>acompanhe o status de processamento do pedido</p>
                </div>
            </div>
    </section>

</main>

<footer class="rodape">
    <div class="logo">
        Sabor & Clic
    </div>
    <p>2026 Sabor & Clic</p>
</footer>
    
</body>
</html>
